[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
"pyqt5" = "*"
pyqtgraph = "*"
sklearn = "*"
matplotlib = "*"
pyserial = "*"
pygame = "*"
pyopengl = "*"
pynput = "*"
nibabel = "*"
qdarkstyle = "*"
pipfile = "*"
keras = "*"
tensorflow = "*"
mne = "*"

[dev-packages]

[requires]
python_version = "3.6"
